.TodoListItem {
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
}

.TodoListItem button {
  width: 35px;
  margin: 3px;
}
.TodoListItemLabel {
  line-height: 35px;
  cursor: pointer;
  user-select: none;
}

.TodoListItem.done .TodoListItemLabel {
  text-decoration: line-through;
}

.TodoListItem.important .TodoListItemLabel {
  font-weight: bold;
  color: steelblue;
}