.AppHeader {
  display: flex;
  align-items: flex-end;
}
.AppHeader h1{
  flex-grow: 1;
}
.AppHeader h2 {
  font-size: 1.2rem;
  color: grey;
}
@media (max-width: 575px){
  .AppHeader{
    display: block;
    text-align: center;
  }
}